{% extends 'admin/base.html.twig' %}

{% block main %}
    <div class="row">
        <h1 class="m-4">Pridėti straipsnį</h1>
    </div>

    {% include 'admin/includes/blogpost_form.html.twig' %}


        {% if blog_posts %}
            <div class="row">
            <table class="table">
            <thead>
            <tr>
                <th scope="col">Foto</th>
                <th scope="col">ID</th>
                <th scope="col">Pavadinimas</th>
                <th scope="col">Turinys</th>
                <th scope="col">Priskirta kategorija</th>
                <th scope="col">Autorius</th>
                <th scope="col">Sukurta</th>
                <th scope="col">Atnaujinta</th>
                <th scope="col">Redaguoti straipsnį</th>
                <th scope="col">Ištrinti straipsnį</th>
            </tr>
            </thead>
            <tbody>
            {% for post in blog_posts %}
            <tr>
                <td><img width= "150" src="{{ absolute_url(asset(post.imagePath)) }}" alt="blogpostImg"> </td>
                <td>{{ post.id }}</td>
                <td>{{ post.title }}</td>
                <td>{{post.subject}}</td>
                <td>{{post.category.name}}</td>
                <td>John Doe </td>
                <td>{{ post.createdAt|date('Y-m-d') }} </td>
                <td>{{ post.updatedAt|date('Y-m-d') }} </td>
                <td><a href="{{ path("edit_blog_post", {'id': post.id}) }}">Redaguoti</a> </td>
                <td><a href="{{ path("delete_blog_post", {'id': post.id}) }}">Ištrinti</a> </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    {% else %}
        <h2>Nėra jokių straipsnių.</h2>
    {% endif %}
        </div>
{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script>
        $('.custom-file-input').on('change', function(event) {
            var inputFile = event.currentTarget;
            $(inputFile).parent()
                .find('.custom-file-label')
                .html(inputFile.files[0].name);
        });
    </script>
{% endblock %}