{% extends 'front/base.html.twig' %}


{% block main %}
<div class="col-md-12">
    {% include 'front/includes/category_menu.html.twig' %}

    {% if blog_posts %}
    {% for post in blog_posts %}
         {% if loop.index0 % 2 == 0 %}
        <div class="row">
            {% endif %}
        <div style="height: 650px" class="col-md-6 blog-post">
                <div style="height: 600px" class="card mb-4 mb-20">
                    <h2 class="card-title p-2">{{post.title}}</h2>

                    <img style="width: 300px; margin: 0 auto; " class="card-img-top" src="{{ absolute_url(asset(post.imagePath)) }}" alt="Card image cap">
                    <div class="card-body">

                        <p class="card-text">
                            {{ post.subject|length > 140 ? post.subject|slice(0, 240) ~ '...' : post.subject }}
                        </p>
                    </div>
                    <a  href="{{ path('single_post',{'blogPost': post.id}) }}" class="btn btn-outline-secondary m-3">I straipsnį</a>
                    <div class="card-footer text-muted">
                        <small>paskelbta  {{ post.createdAt|date('Y-m-d') }}</small>  autorius  <a href="#">{{ post.author.firstName }} {{ post.author.lastName }}</a>
                    </div>
                </div>

            </div>
        {% if loop.index0 % 2 == 1 or loop.last %}
            </div>
        {% endif %}
            {% endfor %}
</div>
    {% endif %}
    {% endblock %}
