{% extends 'front/base.html.twig' %}


{% block main %}
<div class="col-md-12">
{% if post %}
                <h1 class="my-4">{{ post.title }}<small style="color:lightgray; font-size: 18px">/{{ post.category.name }}</small></h1>

        <div  class="col-md-12 blog-post">
                <div  class="card mb-4 mb-20">

                    <img  style="width: 650px; margin: 0 auto; " class="card-img-top" src="{{ absolute_url(asset(post.imagePath)) }}" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">{{  post.subject|raw }}</p>

                    </div>
                    <div class="card-footer text-muted">
                        <small>paskelbta  {{ post.createdAt|date('Y-m-d') }}</small>  autorius  <a href="{{ path('author_posts',{'id':post.author.id}) }}">{{ post.author.firstName }} {{ post.author.lastName }}</a>
                    </div>
                    <a  href="{{ path("home") }}" class="btn btn-outline-secondary m-3">Atgal</a>
                </div>
        </div>
</div>
    {% endif %}
    {% endblock %}
